#footer{
    display: flex;
    //flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background: LightGrey;
    color: black;
    width: 100%;
    height: 50px;
    margin: auto;
    bottom: 0;
    position: fixed;
  }

  .brand {
    color: #52d0da;
  }